{% include 'hood/base.html'%}
{% block content %}

<div class="container mt-4"> 
<div class="row">
  <div class="col-md-2"></div>
  {% if posts %}
  <div class="col-md-8">
      {% for post in posts %}
      <div class="card mb-3">
        <div class="card-header">
          <img src="{{post.author.profile.image.url}}" class="rounded-circle" alt="">
          <div class="post-header">
             <div class="post-data">
                <h5 class="card-title">
                  <a href="{% url 'user-posts' post.author.username %}">By {{post.author.username}}</a>
                  </h5>
                  <small class="text-muted">{{post.date_posted}}</small>
             </div>
          </div>
        </div>
        <img src="{{post.image.url}}"  class="card-img-top" alt="">
        <div class="card-body text-center">
            <h5><a href="{% url 'post-detail' post.id %}">{{post.title}}</a> </h5>
            <p class="card-text">{{post.description}}</p>

    
        </div>
          
    </div>

    {% endfor %}
   

  </div>
  <div class="col-md-2"></div>
</div>

{% else %}
<div class="row">
  <div class="blank">
    <p>Lol..{{user.username}}.where is your crew mate??Set you hood name in your profile page</p>
    <h5 classs="text-center">Fancy being the first to post about your hood.</h5>
  </div>

</div>
{% endif %}

   
</div>

{% endblock content %}