{% include 'hood/base.html'%}
{% block content %}

<div class="container mt-4"> 
<div class="row">
  <div class="col-md-2"></div>
  
  <div class="col-md-8 col-sm-12">
      <div class="card mb-3">
        <div class="card-header">
          <img src="{{post.author.profile.image.url}}" class="rounded-circle" alt="">
          <div class="post-header">
             <div class="post-data">
                <h5 class="card-title">
                  <a href="{% url 'user-posts' post.author.username %}">By {{post.author.username}}</a>
                  </h5>
                  <small class="text-muted">{{post.date_posted}}</small>
                  <div class="post-user-btn">
                    {% if post.author == user %}
                    <a href="{% url 'post-new' post.id %}" class="btn btn-sm btn-info">Update<i class="fa fa-refresh ml-2"></i></a>
                    <a href="{% url 'post-delete' post.id %}" class="btn btn-sm btn-danger">Delete<i class="fa fa-trash ml-2"></i></a>
                    {% endif %}
                 </div>
             </div>
          </div>
        </div>
        <img src="{{post.image.url}}"  class="card-img-top" alt="">
        <div class="card-body text-center">
            <h5>{{post.title}}</h5>
            <p class="card-text">{{post.description}}</p>

    
        </div>
          
    </div>   
  </div>
  
  <div class="col-md-2"></div>
  
</div>
   
</div>

{% endblock content %}